@model WebApplication8.Models.Kitap

<h3>Bu kitabı silmek istediğinize emin misiniz?</h3>

<p><b>@Model.Ad</b></p>

<form asp-action="SilOnay" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">Evet</button>
    <a asp-action="Index">Hayır</a>
</form>

